In [1]:
import pandas as pd

df = pd.DataFrame({'A': [11, 21, 31],
                   'B': [12, 22, 32],
                   'C': [13, 23, 33]},
                  index=['ONE', 'TWO', 'THREE'])

In [2]:
df

        A   B   C
ONE    11  12  13
TWO    21  22  23
THREE  31  32  33

In [3]:
df_new = df.rename(columns={'A': 'Col_1'}, index={'ONE': 'Row_1'})
print(df_new)

       Col_1   B   C
Row_1     11  12  13
TWO       21  22  23
THREE     31  32  33